@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* font-family: "Jost", sans-serif; */
/* font-family: 'Lato', sans-serif; */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafcff;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Jost", sans-serif;
}

.navbar > .navcontainer > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  height: 100%;
}
.navcontainer {
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 100%;
  width: 1024px;
}

.bodycontainer {
  margin: auto;
  max-width: 100%;
  width: 1024px;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #d0ffff;
  font-size: 16px;
  height: 64px;
}

.navelement {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px 24px;
}

.navbar > .navcontainer > a > .navelement:hover {
  background-color: rgba(164, 74, 255, 0.075);
}

.navelement > h3 {
  text-align: center;
  width: 100%;
}

.title {
  text-align: center;
  padding: 50px 20px 75px;
  font-size: 40px;
}

.header {
  padding: 50px 20px;
  font-size: 20px;
}

.pictures {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.picq {
  padding: 10px;
  width: calc(100% / 3);
}

.picq > img {
  display: block;
  width: 100%;
}

.footspace {
  height: 200px;
}

.footer {
  background-color: #d0ffff;
  padding: 100px 0px;
}

.footcontainer {
  margin: auto;
  max-width: 100%;
  width: 1024px;
}
