*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: linear-gradient(45deg, #0dd6cc, #0dd66e);
  font-size: 30px;
}
